#main{
    width: 600px;
    height: 400px;
    border: 1px dashed black;
    margin:20px  auto 0 auto ;
    text-align: center;
}

#square{
    width: 210px;
    height: 210px;
    outline: 1px solid black;
    margin: 20px auto 40px auto;
}

.inSquare{
    width: 70px;
    height: 70px;
    outline:1px solid black;
    float : left;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}